.group-container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--turbo-blue);
  border-radius: 3px;
  padding: 36px 8px 8px 8px;
  position: relative;
  margin-top: calc(28px + 4px);

  .header {
    display: flex;
    align-items: center;
    position: absolute;
    top: -28px;
    background: var(--background);
    padding: 0 4px;
    left: 4px;

    .name {
      flex: 1;
      margin-left: 4px;
      color: var(--charcoal);
      font-size: 1.125rem;
      font-weight: 600;
      letter-spacing: .05rem;
    }
  }

  .tracks {
    margin: 4px 0 8px;
  }

  .add-sounds-button {
    align-self: flex-start;
  }
}
