.group-controls-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;

  & > *:not(:first-child) {
    margin-left: 5px;
  }

  .fixed-width {
    justify-content: left;
    span {
      text-align: left;
    }
  }
}