.group-container {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--turbo-blue);
  border-radius: 3px;
  padding: 28px 4px 4px 4px;
  position: relative;
  margin-top: calc(28px + 4px);

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: -28px;
    left: 2px;
    width: calc(100% - 4px);

    .name {
      padding: 0 4px;
      font-size: 1rem;
      letter-spacing: .05rem;
      background: var(--background);
    }
  }

  .tracks {
    margin: 0 0 16px;
  }

  .add-sounds-button {
    align-self: flex-start;
  }
}
