.track-item-container {
  display: flex;
  margin-top: 24px;

  .torch {
    width: 56px;

    & .torch__handle {
      margin-top: 4px;
      height: 56px;
    }
  }

  .track__body {
    flex: 1;
    margin-left: 4px;
    min-width: 0;
    position: relative;
  }

  .track__name {
    height: 56px;
    display: flex;
    align-items: center;

    h4 {
      color: var(--turbo-blue);
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .track-controls {
    display: flex;
    margin-top: 4px;
  
    .volume-controls-container {
      flex: 1;
      margin-right: 4px;
    }
  }
}
