.group-list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  isolation: isolate;

  .editable-group {
    z-index: 1;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 2rem 1rem;
    gap: 3rem;
  }

  .empty-state-message {
    color: var(--faded-white);
  }
}