.group-list-item-container {
  display: flex;
  gap: 1rem;
  align-items: center;


  .buttons {
    display: flex;
  }

  .labelled-group-name {
    display: flex;
    flex: 1;
    min-width: 0;
    gap: 0.25rem;
  }
}
