.group-list-item-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: relative;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    h2 {
      flex: 1;
      min-width: 0;
    }
  }

  .sound-display-text {
    color: var(--faded-white);
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
  }

  .buttons {
    display: flex;
    gap: 0.25rem;

    & > *:first-child {
      flex: 1;
      min-width: 0;
    }
  }

  .dropdown {
    position: absolute;
    right: 1.75rem;
    top: calc(100% + 0.5rem);
  }
}
