.group-list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  isolation: isolate;
  position: relative;

  .editable-group {
    z-index: 1;
  }

  & > main {
    display: flex;
    flex-direction: column;
    padding: 2.5rem .5rem 4rem;
    gap: 0.25rem;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
  }
  
  .floating-button-group {
    display: flex;
    gap: .5rem;
    padding: 1rem .5rem;
    width: 100%;
    background: var(--grey-0);
    justify-content: center;
  }
}