@import "../../mixins.scss";

.soundscape-list-item-container {
  padding: .25rem;
  margin-bottom: 1rem;

  h4 {
    color: var(--canary);
  }

  .body {
    display: flex;
    height: 11rem;
    align-content: center;
  }

  .chest {
    height: 11rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;

    .chest-top {
      z-index: -2;
    }
  }

  .soundscape-summary-container {
    position: absolute;
    bottom: 76px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .play-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    & > *:not(:last-child) {
      margin-right: 4px;
    }
  }
}