@import "../../mixins.scss";

.soundscape-list-item-container {
  padding: .25rem;
  margin-bottom: 1rem;

  h4 {
    color: var(--turbo-blue);
    text-align: center;
    cursor: pointer;
  }

  .body {
    display: flex;
    height: 11rem;
    justify-content: center;

    position: relative;
  }

  .chest {
    height: 11rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    position: relative;

    .chest-lid {
      display: flex;
      flex-direction: column;
      cursor: pointer;

      .chest-lid-top {
        margin-bottom: -15px;
        transform-origin: top;
      }

      .chest-lid-bottom {
        transform-origin: bottom;
      }

      .chest-lid-top, .chest-lid-bottom {
        transition: transform 0.2s ease-out;
      }

      &:hover {

        .chest-lid-top {
          transform: scaleY(0.8100200904);
        }

        .chest-lid-bottom {
          transform: scaleY(1.42877646215)
        }

      }
    }

    .chest-top {
      z-index: -2;
    }
  }

  .soundscape-summary-container {
    position: absolute;
    bottom: 76px;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }

  .play-buttons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;

    & > *:not(:last-child) {
      margin-right: 4px;
    }
  }
}