.edit-icon-modal-container {
  .edit-icon-modal-content {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    min-height: 0;
  }

  .icon-grid,
  .empty-state {
    flex: 1;
    // 4 rows of icons
    min-height: calc(4 * var(--button-height));
  }

  .icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
  }

  .loading-spinner {
    display: grid;
    align-items: center;
    color: var(--grey-4);
    height: var(--button-height);
  }

  .empty-state-message {
    text-align: center;
    margin-top: 1rem;
    color: var(--grey-4);
  }

  .colour-options {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-top: 1rem;

    & > .button-container {
      width: auto;
    }
  }

  .colour-options i {
    font-size: 1.5rem;
  }
}
