@import "../../mixins.scss";

.editable-group-container {
  background: var(--background);
  display: flex;
  flex-direction: column;

  isolation: isolate;

  .search-results-container,
  .source-modal-container,
  .edit-icon-modal-container,
  .adjust-timing-modal-container {
    z-index: 2; // Above sounditem dropdowns
  }

  & > header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
  }

  header input {
    flex: 1;
    min-width: 0;
    margin-right: 0.25rem;
  }

  .header-button-group {
    display: flex;
    justify-content: space-between;
  }

  main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    overflow-y: auto;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .horizontal-padding {
    display: flex;
    flex-direction: column;
    padding: 0 1.25rem;
  }

  .combat-section-header {
    padding-top: 1.5rem;
    gap: 0.5rem;

    p {
      color: var(--grey-4);
      text-align: center;
    }

    strong {
      color: var(--grey-4);
    }

    h3 {
      text-transform: uppercase;
    }
  }

  .combat-section-divider {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    i {
      color: var(--grey-4);
      position: relative;
      width: 1rem;
      text-align: center;
    }

    h3 {
      color: var(--grey-5);
    }

    &::before,
    &::after {
      content: "";
      display: block;
      height: 2px;
      background: var(--grey-2);
    }

    &::before,
    &::after {
      flex: 1;
      min-width: 0;
    }
  }

  .floating-button-group {
    background: var(--background-level-1);
  }
}
