.edit-icon-modal-container {
  .edit-icon-modal-content {
    margin-top: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    flex: 1;
    min-height: 0;
  }

  .icon-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex: 1;
    min-height: 0;;
  }

  .colour-options {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .colour-options i {
    font-size: 1.5rem;
  }
}