.empty-section-container {
  border: 2px dashed var(--grey-2);
  border-radius: 3px;
  display: flex;
  padding-block: 1rem;
  padding-inline: 1rem;

  &.is-large {
    padding-block: 2rem;
  }

  span {
    color: var(--grey-3);
    font-size: var(--font-size-small);
  }
}
