@import "../mixins.scss";

.about-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  main > * {
    max-width: 70ch;
  }

  h3 {
    @include gradientText;
    display: inline-block;
  }

  p {
    margin-top: 0.75rem;
  }

  section {
    margin-top: 3rem;
    max-width: 90ch;

    &:first-child {
      margin-top: 0.5rem;
    }
  }

  .support-me-button button {
    margin-top: 0.5rem;
    max-width: 50ch;
  }
}
