@import "../mixins.scss";

.about-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background);
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  main {
    padding: 0 1rem 2rem;
  }

  h4 {
    @include gradientText;
  }

  p {
    margin-top: 0.75rem;
    line-height: 1.5rem;
  }

  ul {
    margin-top: 0.75rem;
    padding-left: 1.25rem;
    list-style-image: url("../assets/bullet.svg");

    li {
      padding-left: unset;
    }
  }

  section {
    margin-top: 3rem;
    max-width: calc(var(--max-width) - 16px);
    margin-left: auto;
    margin-right: auto;
  }

  .github-button,
  .ko-fi-button {
    margin-top: .5rem;
    img {
      height: 24px;
      margin-right: 8px;
    }
    span {
      width: auto;
    }
  }

  .github-button{
    img {
      height: 20px;
    }
  }
}
