.modal-container {
  position: absolute;
  inset: 0;
  background: rgb(from var(--grey-0) r g b / 0.8);

  .modal {
    position: absolute;
    background: var(--grey-0);
    border: 2px solid var(--grey-2);
    padding: 1rem;
    max-height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    gap: .5rem;
    min-height: 450px;
    width: calc(100% - 2rem);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &>header {
      display: flex;
      align-items: baseline;
      padding-left: 1rem;
      --line-height: 2.5rem;

      .icon-and-title {
        display: flex;
        gap: .5rem;
        align-items: start;
        margin-top: 19px;
        flex: 1;
        min-width: 0;
      }

      i {
        color: var(--grey-4);
        line-height: var(--line-height);
      }

      h2 {
        flex: 1;
        min-width: 0;
        line-height: var(--line-height);
      }

      .subtitle {
        color: var(--grey-4);
      }
    }

    &>main {
      flex: 1;
      min-height: 0;
      overflow-y: auto;
      padding: 0 1rem;
      min-width: 30ch;
    }
  }
}