.now-playing-banner-container {
  display: flex;
  padding: 0.5rem 0.5rem;
  align-items: center;
  position: relative;
  isolation: isolate;
  gap: 0.25rem;

  // Faded gradient background
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: var(--text-gradient);
    z-index: -2;
    opacity: 0.1;
  }
  // Gradient border along the top
  &::after {
    content: "";
    position: absolute;
    inset-inline: 0;
    height: 1px;
    bottom: calc(100% - 1px);
    background: var(--text-gradient);
  }

  .environment-name {
    flex: 1;
    min-width: 0;
  }
}
