.search-bar-container {
  position: relative;
  display: flex;

  i {
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%);
    color: var(--grey-3);
  }

  input {
    padding-left: 3rem;
    flex: 1;
    min-width: 0;
    width: 100%;
  }
}