.search-item-container {
  margin: .5rem 0;

  h4 {
    color: var(--canary);
    display: inline-block;

    &.loop {
      color: var(--loop);
    }

    &.one-shot {
      color: var(--oneshot);
    }
  }
}