.search-dropdown-container {
  border: 8px solid var(--azure--glass);
  border-radius: 0 0 20px 20px;
  display: flex;
  flex-direction: column;
  top: -16px;
  padding-top: 16px;
  position: relative;
}