@import '../../mixins.scss';

.search-item-container {
  padding: .75rem;
  padding-right: 2rem;
  display: flex;
  min-height: 3rem;
  cursor: pointer;
  align-items: baseline;
  gap: .25rem;

  .item-icon {
    color: var(--grey-5);
    font-size: var(--font-size-small);
    width: 1.5rem;
  }

  .main-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;

    .title {
      display: inline-block;
      @include body-medium;

      &:hover {
        color: white;
      }
    }

    .pack-count {
      font-size: var(--font-size-small);
      color: var(--grey-5);
      margin-bottom: .25rem;
    }
  }

  .add-icon {
    align-self: center;

    &.already-added {
      color: var(--grey-3);
    }
  }
}