@import "../../mixins.scss";

.search-dropdown-container {
  border-radius: 20px;
  background: var(--azure-glass);
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;

  .results {
    flex: 1;
    overflow-y: auto;
  }

  .tag-list-container {
    padding-top: 8px;
  }
}