@import "../../mixins.scss";

.search-dropdown-container {
  border-radius: 20px;
  background: var(--azure-glass);
  display: flex;
  flex-direction: column;

  .results {
    flex: 1;
    overflow-y: auto;
    padding: 0 4px;
    max-height: 190px;
  }

  .tag-list-container {
    padding-top: 8px;
  }

  .collapse-search-button {
    background: none;
  }
}