@import "./mixins.scss";

:root {

  --grey-0: #121212;
  --grey-1: #202020;
  --grey-2: #272727;
  --grey-3: #474747;
  --grey-4: #878787;
  --grey-5: #A7A7A7;
  --deep-blue: #18123A;
  --secondary: #2154D7;
  --primary: #0078CE;
  --accent: #FFDA22;
  --gradient-color-1: #1F53DA;
  --gradient-color-2: #03A2C4;
  --gradient-color-3: #FFD502;

  --text-gradient: linear-gradient(20deg,
      var(--deep-blue) 0%,
      var(--gradient-color-1) 17%,
      var(--gradient-color-2) 53%,
      var(--gradient-color-3) 83%);

  --font--default: 'Alegreya Sans', sans-serif;
  --font--accent: 'Germania One';
  --font-size-small: 0.875rem;

  --background: var(--grey-0);

  --button-height: 3rem;

  // TODO: remove outdated colours
  --turbo-blue: #06CCF8;
  --azure: #0D38D4;
  --azure-glass: #06103D;
  --faded-white: #838591;
  --max-width: 560px;

  background: var(--background);
  color: white;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
  font-family: var(--font--default);
}

strong {
  font-weight: 500;
}

body {
  width: 100vw;
  height: 100vh;
}

h2 {
  font-family: var(--font--accent);
  font-size: 2.25rem;
  font-weight: normal;
  line-height: normal;

  &.small {
    font-size: 1.5rem;
  }
}

h3 {
  @include heading;
}

h4 {
  @include heading;
}

h5 {
  @include title;
}

body,
p,
span {
  @include body;
}

a {
  color: var(--accent);
  text-decoration: none;

  &:hover {
    color: white;
  }
}

button {
  appearance: none;
  border: none;
  background: none;

  &:not(:disabled) {
    cursor: pointer;
  }
}

input {
  background: none;
  border-radius: 3px;
  border: 1px solid var(--grey-2);
  padding: 0 .5rem;
  color: white;
  height: 3rem;
  @include title;
}

.App {
  // Create a new stacking context
  isolation: isolate;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;

  // FIXME: deep selector
  .about-page-container {
    z-index: 1;
  }

  .group-list-container {
    flex: 1;
    min-height: 0;
  }
}

.smallcaps {
  @include smallcaps;
}