@import "./mixins.scss";

:root {
  --background: #131629;
  --canary: #FFC700;
  --canary--rgb: 255, 199, 0;
  --turbo-blue: #06CCF8;
  --azure: #081D68;
  --azure--glass: #10183C;
  --loop: #F13BF4;
  --one-shot: #FF7A00;
  --track: linear-gradient(45deg, var(--loop) 0%,var(--one-shot) 100%);
  --phanary: #FFE249;
  --azure--light: #EBEFFF;
  --charcoal: #1E3B42;
  --danger: #AE0C29;
  --danger--light: #FFD8DF;
  --loop--light: #F7E0FF;
  --one-shot--light: #FFECDA;
  --font--miriam: 'Miriam Libre', sans-serif;
  --font--signika: 'Signika Negative', sans-serif;
  --font--shrikhand: 'Shrikhand';
  background: var(--background);
  color: var(--turbo-blue);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}

h1 {
  font-family: var(--font--signika);
  font-size: 2.5rem;
  font-weight: normal;
}

// The only difference between h2 and h3 is that
// h2 should be in all caps
h2, h3 {
  font-family: var(--font--miriam);
  font-weight: bold;
  font-size: 1.5rem;
}

h4 {
  font-family: var(--font--signika);
  font-size: 1.375rem;
}

body, p, span {
  @include body;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  appearance: none;
  border: none;
  background: none;
  cursor: pointer;
}