@mixin body {
  font-family: var(--font--default);
  font-size: 1rem;
  line-height: 1.5rem;
}

@mixin body-medium {
  @include body;
  font-weight: 500;
}

@mixin title {
  font-family: var(--font--default);
  font-size: 1.125rem;
  font-weight: normal;
}

@mixin smallcaps {
  font-family: var(--font--default);
  font-size: var(--font-size-small);
  letter-spacing: 0.09rem;
  text-transform: uppercase;
  font-weight: 500;
}

@mixin heading {
  font-family: var(--font--accent);
  font-weight: normal;
  font-size: 1.125rem;
  font-kerning: none;
}

@mixin gradientText {
  /* if we can clip, do it */
  -webkit-text-fill-color: transparent;
  background: var(--text-gradient);
  background-clip: text;
  color: var(--accent);
}