@import "../mixins.scss";

.app-header-container {
  display: flex;
  align-items: center;
  padding: .5rem 1rem .5rem 0.25rem;
  justify-content: space-between;
  background: var(--azure-glass);

  .logo {
    pointer-events: none;
    height: 3rem;
  }
}