.range-input-container {
  $barWidth: 18px;
  $handleWidth: 28px;

  .rail {
    border: none;
    background: var(--azure);
    box-shadow: none;
    border-radius: 0.25rem;
    padding: 0;
  }

  .track {
    background: var(--canary);
    border-radius: 0.25rem;
  }

  .handle {
    background-color: var(--canary);
    width: $handleWidth;
    height: $handleWidth;
    
    &::before, &::after {
      display: none;
    }
  }
  
  &.vertical {
    width: $barWidth !important;
    padding: 0 !important;

    .rail {
      width: 100%;
    }

    .track {
      width: 100%;
    }
    
    .handle {
      margin-left: ($barWidth - $handleWidth) / 2;
    }
  }
}