@import "../mixins.scss";

.search-field-container {
  position: relative;
  display: flex;
  align-items: center;

  .icon {
    position: absolute;
    height: 2rem;
    left: .5rem;
    // Center vertically, then nudge a bit up
    top: 50%;
    transform: translateY(calc(-50% - 2px));
  }

  input {
    background: none;
    --icon-size: 2rem;
    height: 3.5rem;
    flex: 1;
    border: 1px solid var(--azure);
    border-radius: 3px 0 0 3px;

    padding: .25rem;
    padding-left: calc(.5rem + var(--icon-size) + .25rem);
    color: white;
    @include body;
    
    &::placeholder {
      @include body;
      color: var(--faded-white);
    }
  }

  .collapse-search-button {
    height: 3.5rem;
    border: 1px solid var(--azure);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left-width: 0;
  }
}