@import '../../mixins.scss';

.add-soundscape-button-container {
  width: 100%;
  border: 4px dashed var(--canary);
  border-radius: 1rem;
  height: 6rem;
  background: var(--azure--glass);
  z-index: 1;
  position: relative;

  h2 {
    color: var(--canary);
    @include heading;
  }
}