@import "../../mixins.scss";

.button-container {
  height: var(--button-height);
  padding: 0 1rem;
  gap: 0.5rem;
  display: flex;
  align-items: center;
  color: var(--grey-5);
  justify-content: center;
  border: 1px solid var(--grey-2);
  border-radius: 3px;
  position: relative;

  --hover-transition-duration: 0.0s;

  transition: background-color var(--hover-transition-duration) ease-out;

  &:not(:disabled):hover {
    color: white;
    background: var(--grey-1);
  }

  span {
    font-weight: 500;
  }

  &.small {
    height: 2rem;
    padding: 0 0.5rem;

    span {
      font-weight: normal;
    }
  }

  &.primary {
    background: var(--secondary);
    border-radius: 3px;
    color: white;

    &:hover {
      background: var(--primary);
    }
  }

  &.gradient-outline {
    position: relative;
    background: none;
    border: 1px solid var(--gradient-color-1);
    border-top-color: var(--gradient-color-2);
    border-right-color: var(--gradient-color-2);
    color: white;
    isolation: isolate;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--text-gradient);
      opacity: 0.1;
      transition: opacity var(--hover-transition-duration) ease-out;
      z-index: -1;
    }

    &:not(:disabled):hover::before {
      opacity: 0.4;
    }
  }

  &.icon-only {
    padding: 0.5rem;
    width: 3rem;
    border-color: transparent;
    color: var(--grey-5);

    &:not(:disabled):hover {
      color: white;
    }
  }

  i {
    font-size: 1.125rem;
    position: relative;
  }

  i.secondary-icon {
    font-size: 0.75rem;
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    isolation: isolate;

    &::after {
      content: "";
      position: absolute;
      inset: -0.125rem;
      background: var(--grey-0);
      border-radius: 50%;
      // background: green;
      z-index: -1;
    }
  }

  &:disabled {
    color: var(--grey-2);
  }
}
