@import "../../mixins.scss";

.button-container {
  height: var(--button-height);
  padding: 0 1rem;
  gap: 0.25rem;
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
  border: 1px solid var(--secondary);
  border-radius: 3px;
  position: relative;

  span {
    font-weight: 500;
  }

  &.small {
    height: 2rem;
    padding: 0 .5rem;

    span {
      font-weight: normal;
    }
  }

  &.primary {
    background: var(--secondary);
    border-radius: 3px;
    color: white;
  }

  &.gradient-outline {
    position: relative;
    background: none;
    border: 1px solid var(--gradient-color-1);
    border-top-color: var(--gradient-color-2);
    border-right-color: var(--gradient-color-2);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: var(--text-gradient);
      opacity: 0.1;
    }
  }


  &.active {
    background-color: var(--azure);
  }

  &.icon-only {
    padding: .5rem;
    width: 3rem;
    border-color: transparent;
    color: var(--grey-5);

    &:hover {
      color: white;

      i {
        transform: scale(1.1);
      }
    }

  }

  i {
    font-size: 1.125rem;
    position: relative;
  }

  i.secondary-icon {
    font-size: .75rem;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
    isolation: isolate;

    &::after {
      content: '';
      position: absolute;
      inset: -.125rem;
      background: var(--grey-0);
      border-radius: 50%;
      // background: green;
      z-index: -1;
    }
  }
}