.default-button-container {
  background: var(--azure);
  height: 3.5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  border-radius: .25rem;
  color: var(--canary);

  &.icon-only {
    padding: 0.5rem;
  }

  img {
    height: 2.5rem;
  }
}