.default-button-container {
  height: 3.5rem;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
  border-radius: .25rem;
  color: var(--canary);
  background: var(--background);
  justify-content: center;

  &:disabled {
    cursor: not-allowed;
    
    img, span {
      opacity: .25;
    }
  }

  &.icon-only {
    padding: calc(0.5rem - 2px);
  }

  &.round {
    border-radius: 3.5rem;
  }

  &.full-width {
    width: 100%;
  }

  &.active {
    background-color: var(--azure);
    border-color: var(--turbo-blue);
  }

  img {
    height: 2.5rem;
  }
}