.flame-button-container {
  position: relative;
  height: 3.5rem;
  width: 3.5rem;

  .icon {
    position: absolute;
    width: 2.5rem;
    left: .5rem;
    top: .5rem;
    z-index: 1;
  }

  .background {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}