.flame-button-container {
  position: relative;
  height: 3.5rem;
  width: 3.5rem;

  .icon {
    position: absolute;
    width: 2.25rem;
    left: .5rem;
    top: .75rem;
    z-index: 1;
  }

  @keyframes flicker {
    100% { background-position: -56px * 8; }
  }

  .background {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    width: 56px;
    height: 74px;
    background-image: url('../../assets/flame.svg');

    &.playing {
      height: 133.33%; // Flame animation has an exact ratio of 3:4
      background-image: url('../../assets/flame-animation.png');
      background-repeat: no-repeat;
      background-position: left center;
      background-size: auto 100%;
      animation: flicker 1s steps(8) infinite;
    }
  }
}