.new-soundscape-button-container {
  align-self: center;
  margin: 8px 0 0;
  border-radius: 16px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  max-width: calc(100% - 16px);
  
  span {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}