.play-group-button-container {
  position: relative;

  // Don't show a square behind this button on hover.
  button.button-container:hover {
    background: none;
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  .hexagon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .hexagon path {
    stroke: var(--grey-2);
    fill: var(--grey-0);
  }
}
