.play-group-button-container {
  position: relative;

  // Don't show a square behind this button on hover.
  button.button-container:hover {
    background: none;
  }

  &:not(.disabled) {
    cursor: pointer;
  }

  .hexagon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .hexagon path {
    stroke: var(--grey-2);
    fill: var(--grey-0);
    transition: fill 0.3s ease;
  }

  &.is-playing {
   .hexagon path {
    animation: shimmer 5s linear infinite;
   } 
  }
}

@keyframes shimmer {
  0% {
    stroke: var(--gradient-color-1);
    fill: var(--dark-gradient-color-0)
  }
  25% {
    fill: var(--dark-gradient-color-1)
  }
  50% {
    stroke: var(--gradient-color-2);
    fill: var(--dark-gradient-color-2)
  }
  75% {
    fill: var(--dark-gradient-color-3)
  }
  100% {
    stroke: var(--gradient-color-1);
    fill: var(--dark-gradient-color-0)
  }
}